<div class="col m2 s2" style="padding:0;">
  <aside id="navbar-fixed" class="pushpin">
    <div class="name-title hide-on-small-only">
      <a id="name" aria-label="Navigate to the beginning of the page" href="#main" class="brand">
        <div>Toni</div>
        <div>Paricio</div>
      </a>
      <div class="brown-text light"><small>Software Developer</small></div>
    </div>
    <nav class="hide-on-large only">
      <ul id="slide-out" class="table-of-contents">
        <li class="bold">
          <a aria-label="Navigate to the About section" href="#about" class="waves-effect waves-dark teal-text active">
            <i class="fa fa-user"></i>
            <span>{% trans %}About{% endtrans %}</span>
          </a>
        </li>
        <li class="bold">
          <a aria-label="Navigate to the Experience section" href="#experience" class="waves-effect waves-dark cyan-text">
            <i class="fa fa-address-book"></i>
            <span>{% trans %}Experience{% endtrans %}</span>
          </a>
        </li>
        <li class="bold">
          <a aria-label="Navigate to the Projects section" href="#projects" class="waves-effect waves-dark indigo-text">
            <i class="fa fa-briefcase"></i>
            <span>{% trans %}Projects{% endtrans %}</span></a>
          </li>
        <li class="bold">
          <a aria-label="Navigate to the Skills section" href="#skills" class="waves-effect waves-dark purple-text">
            <i class="fa fa-chart-bar"></i>
            <span>{% trans %}Skills{% endtrans %}</span>
          </a>
        </li>
        <li class="bold">
          <a aria-label="Navigate to the Education section" href="#education" class="waves-effect waves-dark orange-text">
            <i class="fa fa-graduation-cap"></i>
            <span>{% trans %}Education{% endtrans %}</span>
          </a>
        </li>
        <li class="bold">
          <a aria-label="Navigate to the Contact section" href="#contact" class="waves-effect waves-dark brown-text">
            <i class="fa fa-envelope"></i>
            <span>{% trans %}Contact{% endtrans %}</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
</div>
