{% extends 'layouts/main.html.twig' %}
{% import 'about/macros.html.twig' as macros %}

{% block title %}Portfolio de Toni Paricio{% endblock %}
{% block description %}Información acerca de Toni Paricio. Trabajos, proyectos, habilidades, formación, cursos y redes sociales{% endblock %}

{% block body %}

  <!-- include header from templates/layouts/header.html.twig -->
  {{ include('layouts/header.html.twig', {
      'background': 'img/about/background.jpg',
      'title': '$ whoami',
      'subtitle': 'Un poco de información sobre mí'
    })
  }}

  <div id="about-section" class="row">

    {% include 'about/aside.html.twig' %}

    <main class="col m10 s10">
      <section id="about" class="section scrollspy">
        <h3 class="page-title white-text teal">{% trans %}About{% endtrans %}</h3>
        <div class="container flow-text">
          <blockquote>
            <h2>Ingeniero de Telecomunicaciones, programador y apasionado de la tecnología.</h2>
          </blockquote>
          <p>Siempre he buscado retos que me ayuden a mejorar, me gusta involucrarme en cualquier proyecto o tarea que pueda hacerme mejor programador. Mi objetivo es crear herramientas que resuelvan problemas y faciliten las tareas a otros.</p>
          <p>Como desarrollador de software disfruto programando, sea cual sea el proyecto o el lenguaje. No solo es mi profesión sino mi pasión.</p>
          <p>
            <strong>Actualmente enfocado a</strong>:&nbsp;
            <a aria-label="Navigate to the PHP homepage" href="https://www.php.net/">PHP</a>
          &nbsp;  <i class="fa fa-minus fa-rotate-90"></i>&nbsp;
            <a aria-label="Navigate to the Symfony homepage" href="https://symfony.es/">Symfony</a>
            &nbsp;<i class="fa fa-minus fa-rotate-90"></i>&nbsp;
            <a aria-label="Navigate to the MongoDB homepage" href="https://www.mongodb.com/">MongoDB</a>
{#            &nbsp;<i class="fa fa-minus fa-rotate-90"></i>&nbsp;#}
{#            <a aria-label="Navigate to the Django homepage" href="https://www.djangoproject.com/">Django</a>#}
            <i class="fa fa-minus fa-rotate-90"></i>&nbsp;
            <a aria-label="Navigate to the Kotlin homepage" href="https://kotlinlang.org/">Kotlin</a>
          </p>
        </div>
      </section>
      <section id="experience" class="section scrollspy">
        <h3 class="page-title white-text teal">{% trans %}Experience{% endtrans %}</h3>
        <div class="container">
          <div class="card">
            <div class="card-content">
              <div class="row">
                <div class="col m2 s12">
                  <a href="http://www.pulsarinara.com/" target="_blank">
                    <img alt="Semmantica logo" src="{{ asset('img/about/jobs/semmantica.png') }}" class="img-fluid center-block">
                  </a>
                </div>
                <div class="col m10 s12">
                  <p>
                    <span class="card-title">
                      <a href="http://www.semmantica.com/" target="_blank" class="teal-text hoverline">Semmantica</a>
                    </span>
                  </p>
                </div>
              </div>
              <div class="role hide-on-small-only">Software Developer</div>
              <p>
                <em class="grey-text">Desarrollador de software en <a href="http://www.semmantica-labs.com/" target="_blank">Semmantica Labs</a></em>
              </p>
              <p>Semmantica Labs conecta con tu comercio electrónico te permite optimizar tu negocio online desde el primer día.</p>
              <p>Con Semmantica Labs consigues extraer información y conclusiones de valor a partir de información consolidada de tu comercio electrónico, integrada con datos de analítica y rendimientos de tus campañas de publicidad online.</p>
            </div>
            <div class="card-action">
              <span>Julio de 2018 - Actualmente | Zaragoza, Aragón</span></div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="row">
                <div class="col m2 s12">
                  <a href="http://www.pulsarinara.com/" target="_blank">
                    <img alt="Pulsar Inara logo" src="{{ asset('img/about/jobs/pulsarinara.png') }}" class="img-fluid center-block">
                  </a>
                </div>
                <div class="col m10 s12">
                  <p>
                    <span class="card-title">
                      <a href="http://www.pulsarinara.com/" target="_blank" class="teal-text hoverline">Pulsar Inara</a>
                    </span>
                  </p>
                </div>
              </div>
              <div class="role hide-on-small-only">Software Developer</div>
              <p>
                <em class="grey-text">Análisis, diseño y programación en diversos proyectos</em>
              </p>
              <h6>Trabajos destacados en los que he participado</h6>
              <ul>
                <li>OralSurgeryTube</li>
                <li>pulsarX</li>
                <li>atheneaX</li>
                <li>Servidor de contenidos</li>
                <li>Procesado imágenes de satélites para pulsarspace</li>
                <li>Herramientas: PHP, JS, jQuery, CSS, Sass, HTML, MySQL</li>
              </ul>
              <h6>Logros</h6>
              <ul>
                <li>Creación de un framework PHP para los futuros desarrollos de la empresa</li>
                <li>Implantación de nuevas metodologías y herramientas para simplicar el desarrollo en futuros proyectos</li>
              </ul>
            </div>
            <div class="card-action">
              <span>Junio de 2013 - Febrero de 2018 | Teruel, Aragón</span></div>
          </div>
        </div>
      </section>
      <section id="projects" class="section scrollspy">
        <h3 class="page-title white-text teal">{% trans %}Projects{% endtrans %}</h3>
        <div class="container">
          <div class="row">
            {% for project in projects %}
              {{ macros.project(project) }}
            {% endfor %}
          </div>
        </div>
      </section>
      <section id="skills" class="section scrollspy">
        <h3 class="page-title white-text teal">{% trans %}Skills{% endtrans %}</h3>
        <div class="container">
          {% for category in categories %}
            <h4 class="brown-text light">{{ category.name }}</h4>
            <div class="card">
              <div class="card-content">
                <div class="row text-center">
                  {% for skill in category.skills %}
                    {{ macros.skill(skill.name)}}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
      <section id="education" class="section scrollspy">
        <h3 class="page-title white-text teal">{% trans %}Education{% endtrans %}</h3>
        <div class="container">
          <div class="row">
            <div class="col s12 m6">
              <div class="card">
                <div class="card-content">
                  <p>
                    <span class="card-title">
                      <a href="http://upenn.edu" class="teal-text hoverline">Colegio Las Viñas</a></span></p>
                  <p class="brown-text">Teruel, Aragón</p>
                  <ul>
                    <li>Educación Primaria</li>
                    <li>Educación Secundaria</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card">
                <div class="card-content">
                  <p>
                    <span class="card-title">
                      <a href="https://eupt.unizar.es/" class="teal-text hoverline">Escuela Universitaria Politécnica de Teruel</a></span></p>
                  <p class="brown-text">Teruel, Aragón</p>
                  <ul>
                    <li>Ingeniería Técnica de Telecomunicaciones (Sistemas Electrónicos)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <blockquote>
              <h2>{% trans %}Courses{% endtrans %}</h2>
            </blockquote>
            <p>Soy un entusiasta alumno de cursos online, siempre tengo algún MOOC en proceso en plataformas como <a href="https://www.edx.org/es">edX</a></p>
            <div class="row">
              {% for course in courses %}
                {{ macros.course(course) }}
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      <section id="contact" class="section scrollspy full-height">
{#        <h3 class="page-title white-text teal">{% trans %}Contact{% endtrans %}</h3>#}
{#        <div class="container">#}
{#          {% for social in socials %}#}
{#            {{ macros.social(social) }}#}
{#          {% endfor %}#}
{#        </div>#}
      </section>
    </main>
  </div>
{% endblock %}
