{% macro skill(name) %}
  <div class="col m2 s4 center-align">
    <img alt="{{ name }}"
         title="{{ name }}"
         src="{{ asset('img/about/skills/' ~ name|lower ~ '.png') }}"
         class="img-fluid responsive-img">
  </div>
{% endmacro %}

{% macro project(project) %}
  <div class="col s12 m4">
    <div class="card medium">
      <div class="card-image waves-effect waves-block waves-light">
        {% if project.image %}
          <img alt="{% trans %}project.name ~ Screenshot{% endtrans %}"
               src="{{ asset(project.image.getWebPath())}}"
               class="activator img-fluid">
        {% else %}
          <img alt="{% trans %}project.name ~ Screenshot{% endtrans %}"
               src="{{ asset('img/about/project.jpg')}}"
               class="activator img-fluid">
        {% endif %}
      </div>
      <div class="card-content">
        <span class="card-title activator teal-text hoverline">
          {{ project.name }}
          <i class="fa fa-ellipsis-v right"></i>
        </span>
        <p>{{ project.description }}</p>
      </div>
      <div class="card-reveal">
        <span class="card-title">
          {% trans %}Achievements{% endtrans %}
          <i class="fa fa-times right"></i>
        </span>
        <ul>
          {% for achievement in project.achievements %}
            <li>
              {{ achievement.description }}
            </li>
          {% endfor %}
        </ul>
        <div class="card-action text-right">
          {% if project.url %}
            <a aria-label="{% trans %}Visit " ~ project.name ~ " {% endtrans %}"
               href="{{ project.url }}"
               target="_blank"
               data-position="top"
               data-tooltip="{% trans %}View Online{% endtrans %}"
               class="btn-floating btn-large waves-effect waves-light tooltipped rounded-circle">
               <i class="fa fa-external-link-alt fa-2x"></i>
             </a>
           {% endif %}
           {% if project.github %}
             <a aria-label="{% trans %}Visit the GitHub repo for " ~ project.name ~ " project{% endtrans %}"
                href="{{ project.github }}"
                target="_blank"
                data-position="top"
                data-tooltip="{% trans %}View Source{% endtrans %}"
                class="btn-floating btn-large waves-effect waves-light tooltipped rounded-circle">
                <i class="fab fa-github fa-2x"></i>
              </a>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro social(social)%}
  <div class="col m12 s4" style="margin:10px 0;">
    <a aria-label="{{ social.name }}"
       href="{{ social.link }}"
       data-position="top"
       data-tooltip="{{ social.name }}"
       class="btn-floating btn-large waves-effect waves-light bg-brand-color bg-transition tooltipped rounded-circle">
      <i class="{{ social.icon }}"></i>
    </a>
    <a alt="" href="{{ social.link }}" class="hoverline hide-on-small-only">
      {{ social.alias }}
    </a>
  </div>
{% endmacro %}

{% macro course(course) %}
  <div class="row">
    <a class="course" href="{{ course.link }}">
      <div class="col s12 m3">
        {% if course.image %}
          <img src="{{ asset('img/about/courses/' ~ course.image ~ '.jpg') }}"
               class="responsive-img"
               title="{{ course.name }}"
               alt="{{ course.name }}">
        {% endif %}
      </div>
      <div class="col s12 m8">
        <h3>{{ course.name }}</h3>
        <div>by {{ course.platform }}</div>
      </div>
    </a>
  </div>
{% endmacro %}
