<!-- Page Header -->
<header class="masthead" style="background-image: url('img/tictactoe/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Tic Tac Toe</h1>
          <span class="subheading">El clásico tres en raya</span>
        </div>
      </div>
    </div>
  </div>
</header>
