{% extends 'layouts/main.html.twig' %}

{% block body %}

  <!-- include header from templates/components/header.html.twig -->
  {% include 'tic_tac_toe/header.html.twig' %}

  <div class="container">
    <div id="game-modes">
      <div class="row">
        <div class="col s12 m4 col-md-4 text-center">
          <div class="card blue-grey darken-1">
            <a class="card-content white-text" href="{{ path('tictactoe/new', {'mode': 'human'}) }}">
              <span class="card-title">{% trans %}One vs One{% endtrans %}</span>
              <div class="icon">
                <i class="fa fa-user fa-2x"></i>
                <span>vs</span>
                <i class="fa fa-user fa-2x"></i>
              </div>
              <p class="help-block">{% trans %}onevsone_help{% endtrans %}</p>
            </a>
          </div>
        </div>
        <div class="col s12 m4 col-md-4 text-center">
          <div class="card blue-grey darken-1">
            <a class="card-content white-text" href="{{ path('tictactoe/new', {'mode': 'machine'}) }}">
              <span class="card-title">{% trans %}One vs Machine{% endtrans %}</span>
              <div class="icon">
                <i class="fa fa-user fa-2x"></i>
                <span>vs</span>
                <i class="fa fa-laptop fa-2x"></i>
              </div>
              <p class="help-block">{% trans %}onevsmachine_help{% endtrans %}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <h1>Introducción</h1>
    <p>El
      <a href="https://es.wikipedia.org/wiki/Tres_en_l%C3%ADnea">tres en línea</a>, también conocido como Ceros y Cruces, tres en raya (en Perú, España, Ecuador y Bolivia), juego del gato, Triqui (en Colombia), Cuadritos, Gato (en Chile y México),Triqui
      traka, Equis Cero, Tic-Tac-Toe (en Estados Unidos), es un juego de lápiz y papel entre dos jugadores: O y X, que marcan los espacios de un tablero de 3×3 alternadamente.
    </p>
    <p>
      Un juego con una mecánica y unas reglas muy sencillas, lo que lo convierte en el ejercicio perfecto para iniciarse en la programación, en un nuevo lenguaje o framework
    <p>
    <p>
      En mi caso decido hacer una implementación basada en
          <a href="https://en.wikipedia.org/wiki/Bitboard">bitboards</a>, una estructura de datos usada habitualmente en juegos de tablero, especialmente en el ajedréz desde la aparición de arquitecturas de procesadores de 64 bits.
    </p>
  </div>
{% endblock %}
