{% extends 'layouts/main.html.twig' %}
{% import 'post/macros.html.twig' as macros %}

{% block body %}

<!-- include header from templates/layouts/header.html.twig -->
{{ include('layouts/header.html.twig', {
    'background': 'img/home/background.jpg',
    'title': 'Toni Paricio',
    'subtitle': '<i class="fa fa-terminal"></i>  Software Deleveloper'
  })
}}

<!-- Main Content -->
<div class="row">
  {% include 'components/aside.html.twig' %}

  <div class="col m8">
    <div class="container">
        {% for post in posts %}
          {{ macros.post(post) }}
        {% else %}
        <div class="alert alert-info">
          {% trans %}No hay post publicados{% endtrans %}
        </div>
        {% endfor %}

        <hr>
        <!-- Pager -->
        <div class="clearfix right-align">
          <a class="waves-effect waves-ligh btn btn-large" href="{{ path('posts') }}">
            {% trans %}older_posts{% endtrans %} →
          </a>
        </div>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="col m4">
        <h2 class="header">Tic Tac Toe</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{ asset('img/tictactoe/tictactoe.png')}}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>El clásico tres en raya</p>
            </div>
            <div class="card-action">
              <a href="{{ path('tictactoe') }}">Play</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>
{% endblock %}
