{% set background = background ?: 'home/background.jpg' %}

<header class="masthead" style="background-image: url({{ asset( background ) }})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="site-heading">
        {% if title is defined %}
          <h1 class="brand">{{ title }}</h1>
        {% endif %}
        {% if subtitle is defined %}
          <span class="subheading text-code">
            {{ subtitle|raw }}
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</header>
