<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Toni Paricio{% endblock %}</title>
    <meta name="description" content="{% block description %}Software developer Blog{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Toni Paricio">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% block styles %}
      <!-- Custom fonts for this template -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

      <!-- Custom style for this template -->
      <link href="{{ asset('vendor/prismjs/prism.css') }}" rel="stylesheet">

      <!-- Custom style for this template -->
      <link href="{{ asset('build/css/main.css') }}" rel="stylesheet">
    {% endblock %}

    {% if app.environment == 'prod' %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121080679-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-121080679-1');
      </script>
    {% endif %}

    {% if app.environment == 'prod' %}
      <!-- Google AdSense -->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4544084927522928",
          enable_page_level_ads: true
        });
      </script>
    {% endif %}
  </head>

  <body>
    <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
    <!-- include navbar from templates/components/navbar.html.twig -->
    {% include 'components/navbar.html.twig' %}

    {% block body %}{% endblock %}

    <!-- include footer from templates/components/footer.html.twig -->
    {% include 'layouts/footer.html.twig' %}


    {% block javascripts %}
      <!-- jQuery -->
      <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

      <!-- Materialize Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

      <script src="{{ asset('vendor/prismjs/prism.js') }}"></script>

      <!-- Custom scripts for this template -->
      <script src="{{ asset('build/js/main.js') }}"></script>
    {% endblock %}
    <!-- Cookies consent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#252e39"
        },
        "button": {
          "background": "#009688"
        }
      },
      "content": {
        "message": "Este sitio web utiliza cookies para garantizar la mejor experiencia en nuestra web.",
        "dismiss": "De acuerdo",
        "link": "Más información",
        "href": "{{ path('cookies') }}"
      }
    })});
    </script>
  </body>
</html>
