{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_page_content %}
    <div class="container">
        <h1>Añadir personaje desde Wikipedia</h1>
        <form action="{{ admin.generateUrl('wikipedia_add') }}" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="exampleInputEmail1">Wikipedia URL</label>
                <input name="wikipedia" class="form-control" id="wikipedia" aria-describedby="wikipediaHelp" placeholder="https://es.wikipedia.org/wiki/">
                <small id="wikipediaHelp" class="form-text text-muted">Enter a valid wikipedia URL to process a person</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}