{% extends 'layouts/main.html.twig' %}
{% import 'about/macros.html.twig' as macros %}

{% block title %}Política de Privacidad{% endblock %}
{% block description %}Política de Privacidad para la aplicación ¿Quién soy?{% endblock %}

{% block body %}

    <!-- include header from templates/layouts/header.html.twig -->
    {{ include('layouts/header.html.twig', {
        'background': 'img/whoiam/background.jpg',
        'title': '',
        'subtitle': ''
    }) }}

    <div id="privacy-section" class="row">
        <main class="container">
            <section id="" class="section scrollspy">
                <h2>¿Quién soy?</h2>
                <p>Juego Android en el que deberás adivinar el personaje oculto</p>
            </section>
        </main>
    </div>
{% endblock %}
