{% extends 'layouts/main.html.twig' %}
{% import 'about/macros.html.twig' as macros %}

{% block title %}Política de Privacidad{% endblock %}
{% block description %}Política de Privacidad para la aplicación ¿Quién soy?{% endblock %}

{% block body %}

    <!-- include header from templates/layouts/header.html.twig -->
    {{ include('layouts/header.html.twig', {
        'background': 'img/privacy/background.jpg',
        'title': 'Política de Privacidad',
        'subtitle': 'Aplicación ¿Quién soy?'
    }) }}

    <div id="privacy-section" class="row">
        <main class="container">
            <section id="privacy" class="section scrollspy">
                <p>Fecha última actualización: <b>02-01-2021</b></p>
                <p>De conformidad con el Reglamento (UE) 2016/679, del Parlamento Europeo y del Consejo, de 27 de abril
                    de 2016, relativo a
                    la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la
                    libre circulación de estos
                    datos (Reglamento General de Protección de Datos - RGPD), Antonio Paricio, informa a los usuarios de
                    la
                    aplicación ¿Quién soy? (en adelante, la Aplicación), acerca del tratamiento de los datos personales,
                    que ellos
                    voluntariamente hayan facilitado durante el proceso de registro, acceso y utilización del
                    servicio.</p>
                <br/>
                <h2>Identificación del responsable del tratamiento</h2>
                <p>Antonio Paricio Blasco, con DNI 18442647-M y domicilio a efectos de notificaciones en:</p>
                <address>
                    <div>Ctr/ Celadas P.K. 0.6 Nº 93</div>
                    <div>44397 Concud, Teruel</div>
                    <div>España</div>
                </address>
                <p>(en adelante, el Responsable del Tratamiento), es el responsable del tratamiento de los datos facilitados por los clientes de la Aplicación (en adelante, el/los Usuarios/s).</p>

                <br/>
                <h2>FINALIDAD DEL TRATAMIENTO DE DATOS. </h2>
                <p>Para proceder al registro, acceso y posterior uso de la Aplicación, el Usuario deberá facilitar -de
                    forma voluntaria-, datos de
                    carácter personal (esencialmente, identificativos y de contacto), los cuales serán incorporados a
                    soportes automatizados
                    titularidad de Antonio Paricio </p>
                <p>La recogida, almacenamiento, modificación, estructuración y en su caso, eliminación, de los datos
                    proporcionados por los
                    Usuarios, constituirán operaciones de tratamiento llevadas a cabo por el Responsable, con la
                    finalidad de garantizar el
                    correcto funcionamiento de la Aplicación, mantener la relación de prestación de servicios y/o
                    comercial con el Usuario, y
                    para la gestión, administración, información, prestación y mejora del servicio. </p>
                <p>Los datos personales facilitados por el Usuario -especialmente, el correo electrónico o e-mail-
                    podrán emplearse también
                    para remitir boletines (newsletters), así como comunicaciones comerciales de promociones y/o
                    publicidad de la Aplicación,
                    siempre y cuando, el Usuario haya prestado previamente su consentimiento expreso para la recepción
                    de estas
                    comunicaciones vía electrónica. </p>

                <br/>
                <h2>Datos recopilados</h2>
                <h3>Datos de caracter personal</h3>
                <p>La aplicación puede solicitar datos personales al usuario como: Email, Nombre, Género, Fecha de nacimiento,
                País e Imagen</p>
                <p>El email se utilizará exclusivamente para identificar al usuario y no será compartido con terceros u
                otros usuarios de la Aplicación</p>
                <p>El Nombre, País e Imagen se utilizarán para identificar al usuario en la Aplicación frente al resto de
                usuarios, esto incluye: clasificaciones, comentarios y pistas proporcionadas por el usuario</p>
                <p>El resto de datos se utilizarán para crear clasificaciones y estadísticas que podrán se compartidas con
                los usuarios</p>
                <p>El usuario tiene la opción de no proporcionar estos datos accediendo a la Aplicación como usuario
                    anónimo.</p>
                <h3>Datos de caracter no personal</h3>
                <p>Le aplicación recogerá datos de caracter no personal como:</p>
                <ul>
                    <li>Datos sobre cómo se usan determinados servicios.</li>
                    <li>Datos sobre cómo usa su dispositivo y las aplicaciones para facilitar a los desarrolladores la
                        mejora de la Aplicación.</li>
                </ul>
                <p>Estos datos podrán ser compartidos con terceros para mostrar anuncios relevantes al usuario.</p>
                <p>No se compartirán con estas empresas datos de caracter personal.</p>

                <h2>Legitimación.</h2>
                <p>El tratamiento de los datos del Usuario, se realiza con las siguientes bases jurídicas que legitiman
                    el mismo: </p>
                <ul>
                    <li>La solicitud de información y/o la contratación de los servicios de la Aplicación, cuyos
                        términos y condiciones se
                        pondrán a disposición del Usuario en todo caso, con carácter previo, para su expresa aceptación.
                    </li>
                    <li>El consentimiento libre, específico, informado e inequívoco del Usuario, poniendo a su
                        disposición la presente política
                        de privacidad, que deberá aceptar mediante una declaración o una clara acción afirmativa, como
                        el marcado de una
                        casilla dispuesta al efecto.
                    </li>
                </ul>

                <br/>
                <h2>Conservación de los datos personales.</h2>
                <p>Los datos personales proporcionados por el Usuario, se conservarán en los sistemas y bases de datos
                    del Responsable del
                    Tratamiento, mientras aquél continúe haciendo uso de la Aplicación, y siempre que no solicite su
                    supresión. </p>
                <p>Con el objetivo de depurar las posibles responsabilidades derivadas del tratamiento, los datos se
                    conservarán por un período
                    mínimo de cinco años. </p>

                <br/>
                <h2>Destinatarios.</h2>
                <p>Los datos no se comunicarán a ningún tercero ajeno a Antonio Paricio, salvo obligación legal o en
                    cualquier caso, previa solicitud del consentimiento del Usuario. </p>
                <p>De otra parte, Antonio Paricio podrá dar acceso o transmitir los datos personales facilitados por el
                    Usuario, a terceros proveedores de servicios, con los que haya suscrito acuerdos de encargo de
                    tratamiento de datos, y que únicamente accedan a dicha información para prestar un servicio en favor
                    y por cuenta del Responsable. </p>

                <br/>
                <h2>Retención de datos.</h2>
                <p>Antonio Paricio, informa al Usuario de que, como prestador de servicio de alojamiento de datos y en
                    virtud de lo
                    establecido en la Ley 34/2002 de 11 de julio de Servicios de la Sociedad de la Información y de
                    Comercio Electrónico (LSSI),
                    retiene por un período máximo de 12 meses la información imprescindible para identificar el origen
                    de los datos alojados y el
                    momento en que se inició la prestación del servicio. </p>
                <p>La retención de estos datos no afecta al secreto de las comunicaciones y sólo podrán ser utilizados
                    en el marco de una
                    investigación criminal o para la salvaguardia de la seguridad pública, poniéndose a disposición de
                    los jueces y/o tribunales o
                    del Ministerio que así los requiera. </p>
                <p>La comunicación de datos a las Fuerzas y Cuerpos de Seguridad del Estado, se hará en virtud de lo
                    dispuesto por la normativa
                    sobre protección de datos personales, y bajo el máximo respeto a la misma. </p>

                <br/>
                <h2>Protección de la información alojada. </h2>
                <p>El Responsable del Tratamiento, adopta las medidas necesarias para garantizar la seguridad,
                    integridad y confidencialidad de
                    los datos conforme a lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del
                    Consejo, de 27 de abril de
                    2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos
                    personales y a la libre
                    circulación de los mismos. </p>
                <p>Si bien el Responsable, realiza copias de seguridad de los contenidos alojados en sus servidores, sin
                    embargo no se
                    responsabiliza de la pérdida o el borrado accidental de los datos por parte de los Usuarios. De
                    igual manera, no garantiza la
                    reposición total de los datos borrados por los Usuarios, ya que los citados datos podrían haber sido
                    suprimidos y/o
                    modificados durante el periodo de tiempo transcurrido desde la última copia de seguridad. </p>
                <p>Los servicios facilitados o prestados a través de la Aplicación, excepto los servicios específicos de
                    backup, no incluyen la
                    reposición de los contenidos conservados en las copias de seguridad realizadas por el Responsable
                    del Tratamiento, cuando
                    esta pérdida sea imputable al usuario; en este caso, se determinará una tarifa acorde a la
                    complejidad y volumen de la
                    recuperación, siempre previa aceptación del usuario. La reposición de datos borrados sólo está
                    incluida en el precio del
                    servicio cuando la pérdida del contenido sea debida a causas atribuibles al Responsable. </p>

                <br/>
                <h2>Ejercicio de derechos.</h2>
                <p>Antonio Paricio, informa al Usuario de que le asisten los derechos de acceso, rectificación,
                    limitación, supresión, oposición
                    y portabilidad, los cuales podrá ejercitar mediante petición dirigida al correo electrónico: <a
                            href="mailto:privacy@toniparicio.com">privacy@toniparicio.com</a></p>
                <p>Asimismo, el Usuario tiene derecho a revocar el consentimiento inicialmente prestado, y a interponer
                    reclamaciones de
                    derechos frente a la Agencia Española de Protección de Datos (AEPD). </p>

                <br/>
                <h2>Comunicaciones comerciales por vía electrónica.</h2>
                <p>En aplicación de la LSSI (Ley de Servicios de la Sociedad de la Información), Antonio Paricio, no
                    enviará comunicaciones
                    publicitarias o promocionales por correo electrónico u otro medio de comunicación electrónica
                    equivalente que previamente
                    no hubieran sido solicitadas o expresamente autorizadas por los destinatarios de las mismas. </p>
                <p>En el caso de usuarios con los que exista una relación contractual, jurídica o de servicios previa,
                    el Responsable del
                    Tratamiento, sí está autorizado al envío de comunicaciones comerciales referentes a productos o
                    servicios del Responsable
                    que sean similares a los que inicialmente fueron objeto de contratación con el cliente.</p>
                <p>En caso de que el Usuario quiera darse de baja a la hora de recibir las citadas comunicaciones, podrá
                    hacerlo remitiendo su
                    voluntad por e-mail al correo electrónico: <a href="mailto:privacy@toniparicio.com">privacy@toniparicio.com</a>.
                </p>
            </section>
        </main>
    </div>
{% endblock %}
