{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block stylesheets %}
    <!-- Custom style for this template -->
    <link href="{{ asset('vendor/prismjs/prism.css') }}" rel="stylesheet">
    {{ parent() }}

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('vendor/prismjs/prism.js') }}"></script>
    <script src="https://kit.fontawesome.com/7ca662a774.js" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/stfalcontinymce/js/init.jquery.js') }}" type="text/javascript"></script>
    {{ tinymce_init() }}
    {{ parent() }}
{% endblock %}
