{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('build/css/admin.css') }}">
    {{ parent() }}

{% endblock %}

{% block javascripts %}

    <script src="https://kit.fontawesome.com/7ca662a774.js" crossorigin="anonymous"></script>
    {{ parent() }}
{% endblock %}
