{% trans_default_domain 'FOSUserBundle' %}

<!-- include header from templates/layouts/header.html.twig -->
{{ include('layouts/header.html.twig', {
    'background': 'login/background.jpg',
    'title': 'Registro'
  })
}}

<div class="container">
  <div class="row">
    <div class="col m4 offset-m4">

      {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
          {{ form_widget(form) }}
          <div>
              <button id="_submit"
                      name="_submit"
                      class="waves-effect waves-light btn right"/>
                  {{ 'registration.submit'|trans }}
              </button>
          </div>
      {{ form_end(form) }}

    </div>
  </div>
</div>
