{% extends 'chat_bot/base.html.twig' %}

{% block title %}Yoda ChatBot{% endblock %}

{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">ChatBot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
{#                <ul class="navbar-nav ml-auto">#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="#">Home#}
{#                            <span class="sr-only">(current)</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">About</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Services</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Contact</a>#}
{#                    </li>#}
{#                </ul>#}
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center mt-2 offset-lg-3">
                <div id="app">
                    <app></app>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

