{% extends 'layouts/main.html.twig' %}

{% block body %}

<!-- include header from templates/layouts/header.html.twig -->
{{ include('layouts/header.html.twig', {
    'background': 'img/contact/background.jpg',
    'title': 'Contact'
  })
}}

  <div id="contact-section" class="row">
    <div class="container">
      <form class="col s12 m8 offset-m2"
            action="{{ path('contact_form') }}"
            method="post">
        <p>{% trans %}contact_form_info{% endtrans %}</p>
        <div class="row">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix far fa-user"></i>
            <input id="name" name="name" type="text" class="validate" required>
            <label for="name">{% trans %}Name{% endtrans %}</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix fa fa-at"></i>
            <input id="email" type="email" name="email" class="validate" required>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix fa fa-pencil-alt"></i>
            <input id="subject" name="subject" type="text" class="validate" required>
            <label for="subject">{% trans %}Subject{% endtrans %}</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix far fa-edit"></i>
            <textarea id="content" name="content" class="materialize-textarea" style="height: 6rem;" required></textarea>
            <label for="content">{% trans %}Content{% endtrans %}</label>
          </div>
        </div>
        <div class="row center aligned">
          <label>
            <input type="checkbox" id="terms" name="terms" required />
            <span>Acepto los <a>Términos y condiciones de uso</a></span>
          </label>
        </div>
        <div class="row center aligned">
          <button class="btn waves-effect waves-light" type="submit" name="action">
            {% trans %}Submit{% endtrans %}
            <i class="material-icons right far fa-paper-plane"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
