{% extends 'layouts/main.html.twig' %}

{% block body %}

<!-- include header from templates/layouts/header.html.twig -->
{{ include('layouts/header.html.twig', {
    'background': 'img/contact/thanks.jpg',
    'title': 'Formulario de contacto'
  })
}}

  <div id="contact-section" class="row">
    <div class="container align center">
        <h3>{% trans %}contact_form.thanks{% endtrans %}</h3>
        <h3>{% trans %}contact_form.response{% endtrans %}</h3>
    </div>
  </div>
{% endblock %}
