{% extends 'layouts/main.html.twig' %}
{% import 'post/macros.html.twig' as macros %}

{% block body %}

<!-- include header from templates/layouts/header.html.twig -->
{{ include('layouts/header.html.twig', {
    'background': 'img/posts/background.jpg',
    'title': 'Posts',
  })
}}

<!-- Main Content -->
<div class="row">
  {% include 'components/aside.html.twig' %}

  <div class="container">
    <div class="count">
        <h3>{{ pagination.getTotalItemCount }} posts<h3>
    </div>

    <hr/>

    <div id="posts" class="row">
      {% for post in pagination %}
        {{ macros.post(post) }}
      {% else %}
        <div class="alert alert-danger">{% trans %}no-posts{% endtrans %}</div>
      {% endfor %}
    </div>
    <div class="row center-align">
      <div class="navigation">
        {{ knp_pagination_render(pagination) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
