{% macro post(post) %}
  <div class="post-preview">
    <a href="{{ path('post_show', {'slug': post.slug}) }}">
      <h2 class="post-title">
        {{ post.title }}
      </h2>
      <h3 class="post-subtitle">
        {{ post.subtitle }}
      </h3>
    </a>
    <i>
      <div class="post-meta">Publicado por
        <a href="{{ path('about') }}">{{ post.Author }}</a>
        el {{ post.createdAt|date('d-m-Y H:i') }}
      </div>
      {% if false and post.createdAt != post.updatedAt %}
        <div class="post-meta">Modificado por
          <a href="{{ path('about') }}">{{ post.Author }}</a>
          el {{ post.updatedAt|date('d-m-Y H:i') }}
        </div>
      {% endif %}
    </i>
  </div>
{% endmacro %}
