{% extends 'layouts/main.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.subtitle }}{% endblock %}

{% block body %}

<!-- include header from templates/layouts/header.html.twig -->
{{ include('layouts/header.html.twig', {
    'background': post.image ? post.image.getWebPath : null,
    'title': post.title,
    'subtitle': post.subtitle
  })
}}

<!-- Main Content -->
<div class="row">
  {% include 'components/aside.html.twig' %}

  <div id="post_show" class="col s12 m8">
    <div class="container">
      <div class="content">
        {{ post.content|raw }}
      </div>
      <hr/>
      <div class="row">
        <div class="tags col m6 s12">
          {% for tag in post.tags %}
            <div class="chip">
              {{ tag.name }}
            </div>
          {% endfor %}
        </div>
        <div class="right-align col m6 s12">
          <i class="post-meta">Publicado por
            <a href="#">{{ post.Author }}</a>
            el {{ post.createdAt|date('d-m-Y H:i') }}
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
