{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}
{# for sf > 4.0 #}
{#  {% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %} #}


{% block field %}
    <pre>{{ value|pretty_print }}</pre>
{% endblock %}