<aside id="aboutme" class="col m2 push-m10 hide-on-small-only">
  <img class="responsive-img" src="{{ asset('img/home/aside.jpg') }}">
  <div class="content">
    <h2 class="brand">Toni Paricio</h2>
    <div>
      <p class="text-justify">Ingeniero de Telecomunicaciones, programador y un poco friki, incluso antes de que se pusiera de moda.</p>
    </div>
  </div>
</aside>
