<!-- Navigation -->
<nav id="navbar">
  <div class="nav-wrapper container">
    <b><a href="{{ path('home')}}" class="brand bold">Toni Paricio</a></b>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">Inicio</a>
      </li>
      {#
      <li class="nav-item">
        <a class="nav-link" href="{{ path('posts') }}">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('about') }}">Acerca</a>
      </li>
      #}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('contact') }}">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
