{% trans_default_domain 'FOSUserBundle' %}

<!-- include header from templates/layouts/header.html.twig -->
{{ include('layouts/header.html.twig', {
    'background': 'img/login/background.jpg',
    'title': 'Login'
  })
}}

<div class="container">
  <div class="row">
    <div class="col m4 offset-m4">

      {% if error %}
          <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      <form action="{{ path("fos_user_security_check") }}" method="post">
          {% if csrf_token %}
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
          {% endif %}

          <label for="username">{{ 'security.login.username'|trans }}</label>
          <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

          <label for="password">{{ 'security.login.password'|trans }}</label>
          <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />

          <label>
              <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
              <span>{{ 'security.login.remember_me'|trans }}</span>
          </label>

          <button id="_submit"
                  name="_submit"
                  class="waves-effect waves-light btn right"/>
              {{ 'security.login.submit'|trans }}
          </button>
      </form>
    </div>
  </div>
</div>
