#about-section {
  position : relative;
  top : -50px;
}

#about-section aside {
  border-right: 1px solid #DADADA;
}

#about-section .name-title {
  margin: 1em;

  & a:hover {
    text-decoration: none !important;
  }

  & div {
    line-height: 1em;
  }
}

#about-section .brand {
  font-size : 2em;
  line-height: 2em;
}

#about-section nav {
  border-right: 1px solid #aaa;
  width : 100%;
  height : 0;

  li {
    list-style-type: none;
    margin : 0;
    line-height : 40px;
    width : 100%;

    &:hover {
      text-decoration: none;
      background-color: none;
    }

    i {
      display : inline-block;
      width : 30px;
      text-align: center;
    }

    span {
      display : inline-block;
    }

    a {
      display : block;
      height : 50px;
      line-height: 50px;
    }
  }
}

#about-section main {
    background: white;
}

#about-section section {
  padding-top : 0 !important;

  & > h3 {
    font-weight: 200;
    margin-bottom: 60px;
    margin-top: 0;
    padding: 30px 40px;
    text-transform: uppercase;
    background-color: $brand-color;
    color : white;
  }
}

ul.table-of-contents li:not(.logo) a.active,
ul.table-of-contents li:not(.logo) a:hover {
	background-color: #fafafa !important;
	border-left: 3px solid ;
}
ul.side-nav.fixed.table-of-contents li:not(.logo) a span,
ul#slide-out li:not(.logo) a span {
	color: #333 !important;
}
li.logo span {
	display: block;
	font-size: 14px;
}
.brand-logo h1 {
	font-size: inherit;
  line-height: inherit;
  margin: inherit;
  font-weight: inherit;
}

.card {
	margin-bottom: 60px;
}
.card .role {
	font-size: 1.25rem;
  position: absolute;
  right: 38px;
  top: 35px;
}
.card li a {
	margin-right: 0;
	color: #333;
	border-bottom: 2px solid #ffab40;
}
.card li a:hover {
	color: #333;
	font-weight: 500;
}
.card .card-content {
	padding-bottom: 30px;
}
.card .card-content p {
	padding: 5px 0 0;
}
.card h5 {
  font-size: 1.5rem;
  margin-bottom: -0.5rem;
  margin-top: 2rem;
}
.card h6 {
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 2rem;
  text-transform: uppercase;
}
#experience .card-action {
	background-color: rgba(0,0,0,0.02);
	border: none;
}
#experience .card .col.s12.m2 a {
  display: block;
}
#experience .card .col.s12.m2 a img {
  max-height: 60px;
  max-width: 100%;
}
.card-action span {
	font-size: 85%;
	color: #666;
}
.card ul {
	margin-bottom: 0;
}
.card ul li {
	line-height: 200%;
	list-style-type: disc;
	margin-left: 24px;
}
.card ul li li {
  color: #666;
  font-size: 13px;
}
.card .card-title {
  text-transform: uppercase;
	font-size: 24px;
  text-decoration: none !important;
}
.card .card-content .card-title {
	line-height: 2.5rem
}
.card i.right {
  margin-left: 10px;
}

.card .card-reveal {
  & a {
    background-color : $brand-color-alt;
  }

  & .card-title {
    color : $brand-color-alt;
  }

}

#navbar-fixed.pinned {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
  background: white;
  height : 100%;
}
