// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.post-meta {
  color : $mid-grey;
}

#post_show ul {
  margin : 0 3rem;
  &:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;

    & > li {
      list-style-type: circle;
    }
  }
}
