{% extends 'email/whoiam_template.html.twig' %}

{% block body %}
    {% if user %}
        <h2>Player</h2>
        {% include 'email/whoiam_player.html.twig'%}
    {% endif %}

    <p class="block" style="padding:2rem">
        <h2>Workshop</h2>
        <dl>
            <div>
                <dt>Name</dt>
                <dd>{{ workshop.name }}</dd>
            </div>
            <div>
                <dt>Locale</dt>
                <dd>{{ workshop.locale }}</dd>
            </div>
            <div>
                <dt>Reason</dt>
                <dd>{{ workshop.reason }}</dd>
            </div>
        </dl>
    </p>
{% endblock %}
