{% extends 'email/whoiam_template.html.twig' %}

{% block body %}
    {% if user %}
        <h2>Player</h2>
        {% include 'email/whoiam_player.html.twig'%}
    {% endif %}

    <p class="block" style="padding:2rem">
        <h2>Message</h2>
        {{ body }}
    </p>
{% endblock %}
