{% extends 'email/whoiam_template.html.twig' %}

{% block body %}
    {% if user %}
        <h2>Player</h2>
        {% include 'email/whoiam_player.html.twig'%}
    {% endif %}

    <p class="block" style="padding:2rem">
        <h2>Workshop Fact</h2>
        <dl>
            <div>
                <dt>Person</dt>
                <dd>[{{ person.locale }}] {{ person.name }}</dd>
            </div>
            <div>
                <dt>Fact</dt>
                <dd>{{ fact }}</dd>
            </div>
            <div>
                <dt>Published</dt>
                <dd>{{ published }}</dd>
            </div>
        </dl>
    </p>
{% endblock %}
