<!doctype html>
<html lang="es">
<head>
    <style>
        dl dt {
            display: inline-block;
            width: 200px;
            text-align: right;
            font-weight: bold;
        }
        dl dd {
            display: inline-block;
            text-align: left;
            margin-left: 10px;
        }
        .container {
            padding: 2rem;
        }
        h2 {

        }
    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>