{% extends 'email/whoiam_template.html.twig' %}

{% block body %}
    {% if user %}
        <h2>Player</h2>
        {% include 'email/whoiam_player.html.twig'%}
    {% endif %}
    {% if personLocale is defined %}
        <h2>Person</h2>
        {% include 'email/whoiam_person.html.twig'%}
    {% endif %}
    <p class="block" style="padding:2rem">
        <h2>Person Error</h2>
        <dl>
            <div>
                <dt>Error</dt>
                <dd>{{ error }}</dd>
            </div>
        </dl>
    </p>
{% endblock %}
