<dl style="padding:1rem">
    <div>
        <dt>ID</dt>
        <dd>{{ user.id }}</dd>
    </div>

    <div>
        <dt>Email</dt>
        <dd>{{ user.email }}</dd>
    </div>

    <div>
        <dt>Name</dt>
        <dd>{{ user.display }}</dd>
    </div>

    <div>
        <dt>Locale</dt>
        <dd>{{ user.locale }}</dd>
    </div>

    <div>
        <dt>Country</dt>
        <dd>{{ user.country }}</dd>
    </div>

    <div>
        <dt>Provider</dt>
        <dd>{{ user.provider }}</dd>
    </div>

    <div>
        <dt>Trophies</dt>
        <dd>Season: {{ user.season }} | Total: {{ user.trophies }}</dd>
    </div>
</dl>