{% if person is defined %}
    <dl style="padding:1rem">
        <div>
            <dt>ID</dt>
            <dd>{{ person.id }}</dd>
        </div>

        <div>
            <dt>Name</dt>
            <dd>{{ person.realName }}</dd>
        </div>

        <div>
            <dt>Likes</dt>
            <dd>{{ person.likes }}</dd>
        </div>

        <div>
            <dt>Dislikes</dt>
            <dd>{{ person.dislikes }}</dd>
        </div>
    </dl>
{% endif %}
{% if personLocale is defined %}
    <dl style="padding:1rem">
        <div>
            <dt>ID</dt>
            <dd>{{ personLocale.id }}</dd>
        </div>

        <div>
            <dt>Name</dt>
            <dd>{{ personLocale.name }}</dd>
        </div>

        <div>
            <dt>Locale</dt>
            <dd>{{ personLocale.locale }}</dd>
        </div>
    </dl>
{% endif %}